
























## Preprocess Data on P0 students

In [67]:
from csv import reader
import pandas as pd

In [53]:
#student_names = pd.read_csv('infinite-grid.csv')
#student_grades = pd.read_csv('infinite-lc.csv')
open_student_names = open('infinite-grid.csv',encoding='utf-8-sig')
open_student_grades = open('infinite-lc.csv',encoding='utf-8-sig')

#Reader -> Parse the opened file
names_file = reader(open_student_names)
grades_file = reader(open_student_grades)

#get list of lists format for the file
names_list = list(names_file)
grades_list = list(grades_file)

In [70]:
#Print Column Names to get an idea of the data's characteristics
print(names_list[0])
print(grades_list[0])

['Name', 'Foxhub Id', 'Buddy', 'Email', 'LC 3', 'LC 4', 'LC 5', 'Github Username']
['ID', 'Name', 'Summary', '1', '2', '003', '3', '004', '4', '005', '5', '6']

## Data Preprocessing Steps

### Title format for Names

Here is the step where the names of students are converted into the same title format

#### In the Names Dataset

In [66]:
remove_these=['$','*']
for row in names_list:
    name = row[0]
    name = name.title()
    for char in remove_these:
        name = name.replace(char,"")
    row[0] = name.strip()
#print(names_list)

#### In Grades Dataset

In [65]:
remove_these=['$','*']
for row in grades_list:
    name = row[1]
    name = name.title()
    for char in remove_these:
        name = name.replace(char,"")
    row[1] = name.strip()
#print(grades_list)

### Adding Email Column to Grades

In [75]:
for row_names in names_list[1:]:
       for row_grades in grades_list[1:]:
            if (row_grades[1] == row_names[0]):

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28